<!doctype html>
<html>
<head>
    <title>{{ title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Lancelot|MedievalSharp' rel='stylesheet' type='text/css'>
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <script type="text/javascript" src="assets/js/jquery.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap.js"></script>
    <style type="text/css">
    body, p {
        font-family: 'Lancelot', cursive;
        font-size: 1.1em !important;
    }
    h1, h2, h3, h4, h5, h6 {
        font-family: 'MedievalSharp', cursive;
    }
    </style>
</head>
<body>

<div class="container">
    <div class="page-header">
        <h1>{{ title }}</h1>
        <h2>{{ subtitle }}</h2>
    </div>

    <div class="row">
        {% if image %}
        <div class="span3">
            <img src="assets/{{ image }}" />
        </div>
        {% endif %}
        <div class="span7 {% if not image %}offset3{% endif %}">
            {% if intro %}
                {{ intro|safe }}
            {% endif %}
            {% if choices %}
                <ul>
                {% for choice in choices %}
                    <li>{% if choice.notes %}<a href="#note{{ loop.index }}" data-toggle="modal">{{ choice.text }}</a>{% else %}<a href="{{ choice.next }}.html">{{ choice.text }}</a>{% endif %}</li>
                {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>

</div>

{% for choice in choices %}
    {% if choice.notes %}
    <div class="modal hide fade" id="note{{ loop.index }}" style="display: none;">
        <div class="modal-header">
            <button class="close" data-dismiss="modal">×</button>
            <h3>{{ choice.text }}</h3>
        </div>
        <div class="modal-body">
            <p>{{ choice.notes }}</p>
        </div>
        <div class="modal-footer">
            <a href="{{ choice.next }}.html" class="btn btn-primary">Ok</a>
        </div>
    </div>
    {% endif %}
{% endfor %}


</body>
</html>
