<!doctype html>
<html>
<head>
    <title>{{ title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Lancelot|MedievalSharp' rel='stylesheet' type='text/css'>
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
    <style type="text/css">
    body {
        font-family: 'Lancelot', cursive;
        font-size: 1.2em !important;
    }
    h1, h2, h3, h4, h5, h6 {
        font-family: 'MedievalSharp', cursive;
    }
    </style>
</head>
<body>

<div class="container">
    <div class="page-header">
        <h1>{{ title }}</h1>
        <h2>{{ subtitle }}</h2>
    </div>

    <div class="row">
        <div class="span7 offset3">
            {% if intro %}
            <div>
                {{ intro|safe }}
            </div>
            {% endif %}
            {% if choices %}
                <ul>
                {% for choice in choices %}
                    <li><a href="{{ choice.next }}.html">{{ choice.text }}</a></li>
                {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>

</div>

</body>
</html>
